<div class="row">
  <div class="col post-user">
    <div class="row cheers py-3">
      <div class="col">
        <ul class="cheers py-2">
          <li class="mr-4 cheers_button">
            <%= render 'media_likes/form', media: @media %>
          </li>
          <li class="mr-4">
            <i class="far fa-comment cheers_button"></i>
              <% if @media.comments.any? %>
                <%= @media.comments.size %> <span>Comments</span>
              <% else %>
                <span>Comment First</span>
              <% end %>
          </li>
        </ul>
        </div>
      </div>
    <div class="row">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <%= render 'shared/comments', comment: comment %>
        <% end %>
      <% end %>
    </div>
    <div class="row comment_posted position-fixed" style="bottom: 0;">
      <div class="col-1">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: 'profile_picture' %>
        <% else %>
          <%= image_tag 'default.jpg', class: 'profile_picture' %>
        <% end %>
      </div>
      <%= render 'form_comment'  %>
    </div>
  </div>
</div>