<%= render 'shared/modal' %>

<%= render 'layouts/navbar' %>
<div class="row row_content">
  <div class="col row d-flex flex-column">
    <div class="row align-self-center">
      <h3><%= @group.name %></h3>
    </div>
    <div class="row align-self-center">
      <div class="col">
        <% if @group.avatar.attached? %>
          <%= image_tag @group.avatar, style: "width: 100px; height: 100px; border-radius: 50%; object-fit: cover;" %>
        <% else %>
          <%= image_tag 'default.jpg', style: "width: 10em;" %>
        <% end %>
      </div>
    </div>
    <div class="row align-self-center mt-3">
      <%= link_to edit_group_path(@group), remote: true, data: {toggle: "modal", target: "#modal_shared"} do %>
        <button type="button" class="btn btn-light">Edit</button>
      <% end %>
    </div>
    <div class="row align-self-center col">
      <div class="col">
        <div class="row col justify-content-between">
          <h4>Group Artists : </h4>
          <%= link_to group_join_groups_join_new_path(@group), remote: true, data: {toggle: "modal", target: "#modal_shared"} do %>
            <button type="button" class="btn btn-light"><i class="fas fa-plus"></i>Tambah Artist</button>
          <% end %>
        </div>
      </div>

      <table class="table table-striped mt-4 text-center">
        <tr>
          <th>Username</th>
          <th>Avatar</th>
          <th>Action</th>
        </tr>
        <% @group_artists.each do |artist| %>
          <tr>
            <td><%= artist.username %></td>
            <td>
              <% if artist.avatar.attached? %>
                <%= image_tag artist.avatar, class: "avatar_on_admin_page" %>
              <% else %>
            <%= image_tag 'default.jpg', class: "avatar_on_admin_page" %>
              <% end %>
            </td>
            <td>
            <%= link_to  "Edit",  edit_group_join_group_path(@group, artist), remote: true, data: {toggle: "modal", target: "#modal_shared"},class: "dropdown-item" %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= link_to new_group_profiles_path(@group), remote: true, data: {toggle: "modal", target: "#modal_shared"} do %>
        <button type="button" class="btn btn-light"><i class="fas fa-plus"></i>Tambah User</button>
      <% end %>
    </div>
  </div>
</div>
