<div class="row comment_posted">
  <div class="col-1">
    <% if comment.user.avatar.attached? %>
      <%= image_tag comment.user.avatar, class: 'profile_picture' %>
    <% else %>
      <%= image_tag 'taehyun.jpg', class: 'profile_picture' %>
    <% end %>
  </div>
  <div class="col ml-3">
    <div class="row" style="width: 100%;">
      <div class="col py-3 comment_box">
        <span style="font-weight: bold;"><%= comment.user.username %> </span>
        <%= comment.comment %>
      </div>
    </div>
    <div class="row col pt-2">
      <ul class="comment">
        <li class="mr-3">
          <%= render 'comment_likes/form', comment: comment %>
        </li>
        <li class="mr-3">translate</li>
        <li class="mr-3"><%= comment.created_at.localtime.to_formatted_s(:long) %></li>
      </ul>
    </div>
  </div>
</div>