<% @posts.each do |post| %>
  <div class="card mt-4 post-user">
    <div class="card-body">
      <h5 class="card-title">Moments</h5>
      <div class="row">
        <div class="col-2">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class: 'profile_picture' %>
          <% else %>
            <%= image_tag 'taehyun.jpg', class: 'profile_picture' %>
          <% end %>
        </div>
        <div class="col-7">
          <ul class="user">
            <li class="username"><%= post.user.username %></li>
            <li class="date_post"><%= post.created_at.localtime.to_formatted_s(:long) %></li>
            <li class="mt-3">
              <p>
                <%= post.post %>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="menu">
            <li><i class="fas fa-language"></i></li>
            <li><i class="fas fa-ellipsis-v"></i></li>
          </ul>
        </div>
      </div>
      <div class="row posted">
        <div class="col"></div>
      </div>
      <div class="row cheers">
        <div class="col">
          <ul class="cheers py-2">
            <li class="mr-4 cheers_button">
              <i class="fas fa-heart"></i> <span>Cheers</span>
            </li>
            <li class="mr-4">
              <i class="far fa-comment cheers_button"></i>
                <% if post.comments.any? %>
                  <%= post.comments.size %> <span>Comments</span>
                <% else %>
                  <span>Comment First</span>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <% if post.comments %>
            <% post.comments.each do |comment| %>
              <%= render 'shared/comments', comment: comment %>
            <% end %>
          <% end %>
          <div class="row comment_posted">
            <div class="col-2">
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, class: 'profile_picture' %>
              <% else %>
                <%= image_tag 'taehyun.jpg', class: 'profile_picture' %>
              <% end %>
            </div>
            <div class="col-10">
              <%= simple_form_for([post, post.comments.build]) do |f| %>
                <div class="row input-group mb-3 comment_box">
                  <%= f.text_area :comment, class: "form-control input_comment", placeholder: "Write your comment" %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <div class="input-group-append">
                  <%= f.button :submit, "Send", class: "btn btn-outline-secondary comment_button"  %>
                </div>
              </div>
            <% end %>
            </div>
          </div>
          </div>
          <%# <%= render 'shared/new_comment',  post: post  %>
        </div>
      </div>
    </div>
<% end %>