<!DOCTYPE html>
<html>
  <head>
    <title>WeverseAlike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <section class="section">
        <div class="container-lg">
          <%= render 'layouts/navbar' %>
          <div class="row mt-5">
            <%= render 'layouts/left_sidebar' %>
            <div class="col-lg-6 col-md-6">
              <%= yield %>
            </div>
            <%= render 'layouts/right_sidebar' %>
          </div>
        </div>
      </section>
    <% else %>
      <%= render 'devise/sessions/new' %>
    <% end %>
  </body>
</html>
